@charset "UTF-8";

/*  Stylesheet */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 6rem;
  min-height: 100%;
  color: #646881;
  font-size: 16px;
}

/* Header */

header {
  background-color: #ffffff;
  margin-top: 2%;
  height: 80px;
}

nav.container {
  width: 503px;
  height: 45px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border-top: 45px;
  float: right;
}

nav li {
  display: inline;
  padding-right: 20px;
  color: #646881;
}

 nav a:link {
  color: #646881;
}

nav a:hover {
  color: #646881;
  font-style: italic;
}

nav a:active {
  color: #646881;
}

nav a:visited {
  color: #646881;
}

img.logo{
  max-height: 45px;
  max-width: 105px;
  margin-left: 60px;
  float: left;
  padding: 5px;
}

.btn {
background-color: #646881;
color: #ffffff; !Important
width: 75px;
border-radius: 4%;
border: none;
text-decoration: inherit;
}

.btn:hover {
  background-color: #646881;
  color: #ffffff; !Important
}

.btn:active {
  background-color: #646881;
  color: #ffffff; !Important
}

.btn:active {
  background-color: #646881;
  color: #ffffff; !Important
}

/* Header ends */


/* Main Content */
.main {
    max-width: 1200px;
    margin: auto;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}



h1 {
  font-weight: 300;
  font-size: 52px;
  color: #646881;
  text-align: center;
}


h2{
  font-style: medium;
  font-size: 32px;
}

h3{
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
}

h5{
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}


/* Media */


.column.media {
    float: left;
    padding: 1%;
    max-height: 380px;
   /* width: 25%;
    max-height: 50%; */
    /* background-color: yellow; */
}

.content.promo {
  padding-top: 15px;
  max-height: 450px;
  /* background-color: yellow; */

}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column.media {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.media {
        width: 100%;
    }
}

.content {
  background-color: white;
  /* padding: 10px; */
  /* margin-left: 15%; */
}

/* TOUR DATES */

table.tour {
  /* background-color: yellow; */
  text-align: left;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

table.tour, td, th {
  /* background-color: yellow; */
border: 0.5px solid black;
border-color: #646881;
height: 50px;
padding-left: 15px;
}

.card.tour {
  display: inline-block;
  width: 25%;
  height: 375px;
  /* background-color: yellow; */
}

.tourwatch{
  position: absolute;
  bottom: 0%;
  margin: 5%;
  padding-top: 2%;
  border-top-style: dotted;
  border-top-width: 1px;
  /* border-color: #646881; */
  border-spacing: 2px;
  border-radius: 1%;
}


/* CAROUSEL */

.carousel-indicators  {
  border-top: 10%;
}

.carousel-indicators li {
    display: inline-block;
    background-color: #646881;
    opacity: 0.2;
}

.carousel-indicators .active {
    border: 1%;
    background-color: #646881;
    opacity: 1;
}

.carousel img {
     border: 1%;
     padding: 1%;
     max-width: 700px;
     max-height: 400px;
     overflow: hidden;
}


.carousel-inner {
  margin: 2%;
  margin-bottom: 50px;
}


.about-text {
  float: right;
  /* white-space: nowrap;
  overflow: hidden; */
}

/* .slider.col-xs-8 {
  margin: 0%; !Important
  border: 0%; !Important
   background-color: yellow;
} */

/* .carousel-left {
  width: 100%;
} */

/* CAROUSEL END */


/* SHOP START */

.filtr-item {
  float: left;
  background-color: white;
  padding: 1%;
}
/*
.filtr-container {
    width: 100%;
    max-height: 100px;
    background-color: yellow;
} */

.filterlist, li {
  display: inline;
  text-align: center;
  padding-right: 30px;
}

/* DISCOGRAPHY START */

img.card-img-top {
  max-width: 100%;
  max-height: auto;
  /* border-left: 140px; */
}

.card {
position: relative;
margin: 2%;
border-style: dotted;
border-width: 1px;
border-color: #646881;
border-radius: 1%;
/* background-color: blue; */
}

.card.column {
  float: left;
  width: 29%;
  height: 550px;
}

.card-body {
  margin: 4%;
}

.star-rating{
  position: absolute;
  bottom: 0%;
  margin: 8%;
  padding-top: 2%;
  border-top-style: dotted;
  border-top-width: 1px;
  border-color: #646881;
  border-spacing: 2px;
  border-radius: 1%;
}
/* DISCOGRAPHY END */

/* FOOTER */

footer {
   margin-top: 2%;
   /* background-color: yellow; */
   height: 70px;
   padding: 2%;
   align: center;
   bottom: 0;

}

footer li {
    display: inline;
    text-align: center;
    padding-right: 30px;
}

.input-container {
  float: right;
  margin-right: 5%;
  text-align: center;

}


.social-icons-list {
  float: left;
  text-align: center;
}

img.social-icon {
float: center;
max-height: 16px;
}
